<% provide(:title, 'Home') %>
<div class="container container-posts">
	<div class="headline">
	    NYHETER
	</div>
	<div class="content">
	    <%= render 'shared/posts' %>
	</div>
</div>

<div class="container container-info">
	<div class="headline">
	    INFO
	</div>
	<div class="content">
	    <div class="box box-info-faq">
	    	agegage
		</div>
	</div>
</div>

<div class="container container-faq">
	<div class="headline">
	    SNABBFAKTA
	</div>
	<div class="content">
	    <div class="box box-info-faq">
	    	agegage
		</div>
	</div>
</div>