<% provide(:title, 'Home') %>
<div class="container container-posts">
	<div class="headline">
	    NYHETER
	</div>
	<div class="content">
	    <%= render 'shared/posts' %>
	</div>
</div>

<div style="width: 200px; float: right;">
<div class="container container-info">
	<div class="headline">
	    INFO
	</div>
	<div class="content">
	    <div class="box box-info-faq">
	    	Anmälan för dÅre 2013 öppnar onsdagen den 3 oktober här på hemsidan!
	    	<br><br>
	    	Just nu finns det <b><%= (@project.spots - @project.registrations.find(:all, :conditions => { :reserve => false }).count) %> platser kvar</b>, <%= @project.registrations.find(:all, :conditions => { :reserve => true }).count %> resenärer står på <a href="/projects/<%= @project.id %>/reserves">reservlistan</a>.
	    	<br><br>
	    	Observera att vi ställer anmälan i kön som reserv vid försenad inbetalning av anmälningsavgiften.
		</div>
	</div>
</div>

<div class="container container-faq">
	<div class="headline">
	    SNABBFAKTA
	</div>
	<div class="content">
	    <div class="box box-info-faq">
	    	dÅre 2013 kostar 2900kr. I priset ingår resa till och från Åre, lifkort, boende samt en episk afterskii-fest.
	    	<br><br>
	    	Avresa är på kvällen lördagen den 12e januari från KTH. Vi är tillbaka i Stockholm sent på torsdagskvällen. Mer info om detta kommer senare.
	    	<br><br>
	    	Boendeuppdelning sker senare under hösten. Alla resenärer kommer att få önska boende, och även mer info om detta kommer senare.
		</div>
	</div>
</div>
</div>