<% provide(:title, 'Home') %>
<div class="news_container" style="float: left;">
	<div style="float: right; margin-top: -17px; color: #EEEEEE; font-size: 18pt; font-weight: bold;">
		NYHETER
	</div>
    <%= render 'shared/posts' %>
</div>

<div class="info_box">
	<div style="float: right; margin-top: -27px; color: #EEEEEE; font-size: 18pt; font-weight: bold;">
		INFO
	</div>

	ageageageg
</div>	

<div class="faq_box">
	<div style="float: right; margin-top: -27px; color: #EEEEEE; font-size: 18pt; font-weight: bold;">
		SNABBFAKTA
	</div>

	ageageageg
</div>