<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

You must sign in using the KTH central authentication service.
<br />
<%= link_to "Sign in via KTH", '/auth/cas', class: 'btn btn-large btn-primary' %>