<% provide(:title, 'Staff') %>
<div class="container container-staff">
	<div class="headline" style="margin-right: 10px;">
	    DÅRE-STABEN <%= @project.year %>
	</div>
	<div class="content">
	    <%= render :partial => 'staff/staff', :collection => @staff_current %>
	</div>
</div>

<div class="container container-contact">
	<div class="headline">
	    KONTAKT
	</div>
	<div class="content">
		<div class="box">
			Om du behöver komma i kontakt med oss som arrangerar dÅre <%= @project.year %>, är du välkommen att maila eller ringa någon i staben, alternativt maila till dare@d.kth.se.
		</div>
	</div>
</div>

<div class="container container-emeriti">
	<div class="headline" style="margin-right: 10px;">
	    DÅRE-STABARE EMERITI
	</div>
	<div class="content">
	    <%= render :partial => 'staff/staff', :collection => @staff_emeriti %>
	</div>
</div>
