<div class="modal hide fade" id="modal-window">

	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h6>Loading...</h6>
	</div>

	<div class="modal-body center">

		<h2>Add staff member</h2>
		<%= render 'form' %>

	</div>

	<div class="modal-footer">&nbsp;
	</div>

</div>