// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* index */
table {
	table-layout: fixed;
	overflow: auto;
	background: #EEEEEE;
	thead {
		tr {
			th {
				width: 100px;
			}
		}
	}
	tbody {
			td {
				overflow: hidden;
				white-space: nowrap;
			}
	}
}

/* new registration */
.registration-form-container {
	background: #EEEEEE;
	width: 600px;
	padding: 10px;

	input {
	height: 35px;
	}
}