<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Anmälan till dÅre <%= @project.year %></h1>
        <p>
            Du har anmält dig för dÅre <%= @project.year %> - skitkul!
        </p>
        <p>
            För att slutföra anmälan måste du inom 10 dagar betala in anmälningsavgiften på *** kr. Gör du inte detta kommer din plats att överlåtas till nästa person i reservlistan, så se till att betala så fort som möjligt för att behålla din plats.
        </p>
        <p>
            Betalningsinformation <%= @attendee.name %>
            **
            **
            **
            **
        </p>
        <p>
            Frågor? Hör av dig till dare@d.kth.se!
        </p>
        <p>
            Hälsningar<br>
            dÅrestaben 2013
        </p>
    </body>
</html>