<div style="float: left; color: #000000; margin-bottom: -3px; font-size: 8pt; font-weight: bold; position: relative; z-index: 2;">
    <!--Obetald registreringsavgift <%= check_box_tag :filter_payed_registration, 'payed_registration', false %>-->
</div>
<div style="float: right; color: #EEEEEE; margin-bottom: -1px; font-size: 18pt; font-weight: bold;">
    ANMÄLDA DELTAGARE
</div>
<table class="table table-striped">
    <thead class="head">
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Årskurs</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody id="registrations" class="registrations">

        <%= render :partial => 'table_row', :collection => @registrations %>

    </tbody>
</table>
<div class="pagebreak"><%= will_paginate @registrations %></div>


<script type="text/javascript">
    $("[rel=tooltip]").tooltip({placement: 'right'});

    $('tr').click(function () {
        window.location.href = '<%= project_registrations_path(@project) %>/' + $(this).attr('id')
    });   
</script>