<div class="registration-form-container" style="">
	<div style="float: right; margin-top: -27px; color: #EEEEEE; font-size: 18pt; font-weight: bold;">
		REGISTRERA DIG
	</div>

	<%= render 'form' %>
</div>