<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>dÅre</h1>

  <h2>
    Det här är en hemsida som innehåller bilder på hästar.
  </h2>

  <%= link_to "Sign up now!", administrators_new_path, class: "btn btn-large btn-primary" %>

</div>

<div class="row">
    <div class="span8">
      <%= render 'shared/posts' %>
    </div>
</div>