<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", administrators_new_path, class: "btn btn-large btn-primary" %>

  <%= link_to "Register application!", '#', class: "btn btn-large btn-primary" %>
</div>

<div class="row">
    <div class="span8">
      <%= render 'shared/posts' %>
    </div>
  </div>