<div class="box box-post">
    <div style="height: 20px; border-bottom: 2px solid #e42081;">
        <div class="headline">
            <%= post.headline.upcase %>
        </div> 

        <div class="timestamp">
            <%= time_ago_in_words(post.created_at) %> sen
        </div>
    </div>
    <div class="content">
        <%= post.content %>
    </div> 
    <% if signed_in_administrator? %>
    <%#= link_to 'edit', edit_post_path(post), class: 'btn btn-warning' %>                          
    <%#= link_to 'delete', post, method: :delete,
                                remote: true,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-danger',
                                format: :json,
                                title: post.headline %>
    <% end %>
</div>