@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: url(BG.jpg);
  margin-bottom: 0px;
  a:hover { 
    background-color:transparent
  }
  a:link{color: #000; text-decoration: none}
  a:visited{color: #000}
  a:hover{color: #666666; text-decoration: underline}
}
.tableclass a:link{
  color:#000;
}
.tableclass a:visited{
  color:#000;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  &:hover {
    color: #66666;
    text-decoration: underline;
  }
}

.content-top {
  background: url(header.png) no-repeat;
  width: 935px;
  height: 350px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;

  .buttons {
    .menu-btn {
      margin-top: 130px;
      margin-left: -30px;

    }
  }
}

/* container */

#container {
  background-image: url(bg.png);
  height:650px;
  border-color:rgba(255,255,255,0.5);
  border-width:1px;
  border-style:solid;
  
  /* Firefox v3.5+ */
  -moz-box-shadow:inset 0px 0px 30px rgba(216,10,62,0.7);
  
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:inset 0px 0px 30px rgba(216,10,62,0.7);
  
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:inset 0px 0px 30px rgba(216,10,62,0.7);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff49ff,endColorstr=#ffff22ff,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff49ff,endColorstr=#ffff22ff,GradientType=0);

  width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -160px;
  padding-top: 130px;
  padding-bottom: 200px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
    .pagebreak{
      position: relative;
      width: inherit;
      text-align: center;
      z-index: 2;
    }
}

/* footer */

footer {
  background: url(footer.png) no-repeat;
  width: 1260px;
  height: 129px;
  clear: both;
  margin-right: auto;
  margin-left: auto;
  margin-top: -125px;
  color: $grayLight;
  position: relative;
  z-index: 1;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* headlines */
.container {
  .headline {
    float: right;
    color: #EEEEEE;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: -1px;
  }

  .content {
    float: left;
    .box {
      background: #EEEEEE;
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 10px;
      float: left;
    }
  }
}