// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* index */
table {
	table-layout: fixed;
	overflow: auto;
	background: #EEEEEE;
	
	thead {
		tr {
			th {
				width: 100px;
			}
		}
	}
	tbody {
			tr:hover {
				cursor: pointer;
				background: #DDDDDD;
			}
			td {
				overflow: hidden;
				white-space: nowrap;
			}
	}
}

/* new registration */
.registration-form-container {
	background: #EEEEEE;
	width: 600px;
	padding: 10px;
	border-radius: 3px;
	margin-top: 18px;

	input {
	height: 35px;
	}
}

/* show */
.container-my-registration {
	width: 800px !important;
	float:left;
}

.some-box {
	width: 370px;
	margin-right: 10px;
}

.right-content {
	float: right;
}

.comment-box {
	width: 770px;

}