// Place all the styles related to the staff controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.container-staff {
	width: 600px !important;
	float:left;
}

.container-emeriti {
	width: 600px !important;
	float:left;
	margin-top: 40px;
}

.container-contact {
	width: 200px !important;
	float: right;
}

.box-staff {
	width: 270px;
	height: 100px;
	margin-right: 10px;
}