// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.news_container {
  float: left;
  padding: 10px;
  width: 600px;

  .post {
  background: #EEEEEE;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;

    .headline {
      float: left;
      color: #e42081;
      font-size: 14pt;
      font-weight: bold;
      width: 300px;
    }

    .content {
      margin-top: 10px;
    }

    .timestamp {
      float: right;
      color: #e42081;
      font-size: 11px;
      font-weight: bold;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  } 
}

.info_box {
  float: left;
  width: 200px;
  height: 300px;
  padding: 10px;
  background: #EEEEEE;
  margin-top: 10px;
  border-radius: 3px;
}

.faq_box {
  float: left;
  width: 200px;
  height: 300px;
  padding: 10px;
  background: #EEEEEE;
  margin-top: 50px;
  border-radius: 3px;  border-radius: 3px;
}