// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.container-posts {
  height: auto;
  min-height: 100%;
  width: 590px !important;
  float:left;
}

.container-info {
  width: 200px !important;
  float: right;
}

.container-faq {
  width: 200px !important;
  float: right;
  margin-top: 20px;
}

.box-post {
  margin-bottom: 10px;
  width: 570px;

    .headline {
      float: left;
      color: #e42081;
      font-size: 14pt;
      font-weight: bold;
      width: 300px;
    }

    .content {
      margin-top: 10px;
    }

    .timestamp {
      float: right;
      color: #e42081;
      font-size: 11px;
      font-weight: bold;
    }
  }

.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  } 
}

.box-info-faq {
  float: right;
  width: 180px;
  height: 300px;
  overflow: auto;
}